*{
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif
}

header {
    background-color: #f2f2f2;
    padding: 1%;
    text-align: center;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #f2f2f2;
    padding: 1%;
    text-align: center;
}

.titulo-rodada {
    text-align: center;
}

.tabuleiro {
    display: flex;
    margin: 1%;
    justify-content: space-between;
}

.locais {
    display: flex;
}

.local {
    border: 1px solid #ccc;
    padding: 0% 1%;
    width: 312px;
    margin-right: 1%;
}

.mao-jogador {
    border: 1px solid #ccc;
    padding: 1%;
    width: 1000px;
    margin-top: 1%;
}

.cartas {
    display: flex;
}

.carta {
    padding: 1%;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    width: 250px;
    height: 60px;
    margin-right: 1%;
    margin-bottom: 2.4%;
} 

.local > .cartas > .carta {
    height: 50px;
    margin-right: 1%;
    margin-left: 1%;
}

footer {
    margin-top: 1%;
}

#forca-l1-vc, #forca-l2-vc, #forca-l3-vc, 
#forca-l1-computador, #forca-l2-computador, #forca-l3-computador {
    font-weight: bold;
}

.lista-controlados{
    display: flex;
    margin-left: 23%;
}

.lista-controlados > div{
    padding: 1%;
}

#controlados-vc, #controlados-computador, #empatados {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 10px 20px 10px 20px;
}

#controlados-vc {
    background-color: rgba(0, 128, 0, 0.63);
}

#controlados-computador {
    background-color: rgba(255, 0, 0, 0.664);
}